# The releng team is by default the owner of everything.
*             @eclipse-cdt-cloud/eclipsefdn-releng

# Otterdog related configurations are also owned by the security team.
/otterdog/**  @eclipse-cdt-cloud/eclipsefdn-security
